# Environments
.venv/
venv/
.env
.env.*
.conda/
conda-env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# pytest / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# mypy
.mypy_cache/

# VSCode / IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
