fastapi
uvicorn
praw
pyyaml
python-dotenv
pytest
pytest-asyncio
pytest-cov
pydantic-settings
pydantic>=2
pylint
pre-commit
black
flake8
mypy
isort
bandit
pyupgrade
commitizen
types-requests
types-redis
